{{#each movie as |movie|}}
<div class="card text-white bg-dark border-secondary" data-id="{{movie.id}}">
<div class="card-header">
      {{limit movie.name 20}}
</div>
<div class="card-body">
<p class="card-text">
      {{limit movie.thoughts 45}}
</p>
  {{#if favorite}}
  <p>Favorite</p>
  {{/if}}
  {{#if rewatch}}
  <p>Rewatchable</p>
  {{/if}}

  {{#if rating}}
    <p> {{movie.rating}} </p>
  {{/if}}
</div>
  <div class="card-footer">
 {{> remove-btn id=movie.id }}
 </div>

</div>
{{/each}}
