@import '~bootstrap/scss/bootstrap';

body {
  padding-top: 60px;
  background-image: url('public/cinema.jpg');
  background-position: center;
  height: 100vw;
  background-size: cover;
}

.inputs {
  display: block;
}

.navbar-nav{
  margin: auto;
  margin-left: 5px;
}

.check {
  display: inline;
}

.card {
  text-align: center;
  margin: 10px;
}


#moviesbtn {
  padding-right: 10px;
}
