@import '~bootstrap/scss/bootstrap';

body {
  padding-top: 60px;
  background-image: url('public/cinema.jpg');
  background-position: center;
  height: 100vw;
  background-size: cover;
}


h1 {
  display: block;
  font-size: 100px;
  padding-bottom: 0;
  justify-content: center;
  color: #7B241C;
  margin-bottom: 0;
  text-shadow: 1px 1px 4px #000000;
}
h4 {
  display: block;
  color: #F8F9F9;;
  text-shadow: 1px 1px 4px #000000;
}

.titleText {
  padding-top: 50px;
  text-align: center;
}

span {
  color: #F8F9F9;
}

.inputs {
  display: block;
}

.navbar-nav{
  margin: auto;
  margin-left: 5px;
}

.check {
  display: inline;
}

.card {
  text-align: center;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}


#moviesbtn {
  padding-right: 10px;
}
