@import '~bootstrap/scss/bootstrap';

body {
  padding-top: 60px;
  background-image: url('public/cinema.jpg');
  background-position: center;
  height: 100vw;
  background-size: cover;
}

.navbarContainer {
  justify-content: flex-start;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.nav-buttons {
justify-content: flex-start;
margin-right: 12px;

}
.searchRow {
  justify-content: flex-end;
}

.navBut {
margin-left: 12px;
}

.inputs {
  display: block;
}

.navbar {
  justify-content: flex-start;
}

.check {
  display: inline;
}

.card {
  text-align: center;
  margin: 10px;
}


#moviesbtn {
  padding-right: 10px;
}
